/* App */
body {
  background: url('./assets/MilkyBackground.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-animation {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease 3s forwards;
  -webkit-animation: fadeIn ease 3s forwards;
  -moz-animation: fadeIn ease 3s forwards;
  -o-animation: fadeIn ease 3s forwards;
  -ms-animation: fadeIn ease 3s forwards;
}

.fade-in.visible {
  opacity: 1;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Home */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  height: 100vh;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
}

.about-text {
  text-align: justify;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20%;
}

.about-text-section {
  flex: 1 0 100%;
  max-width: 100%;
  color: white;
}

.about-image-section {
  flex: 1 0 100%;
  max-width: 100%;
  margin-top: 20px; /* Optional, adds some space between the text and image when they stack */
}

@media screen and (min-width: 768px) {
  .about-text-section, .about-image-section {
      flex: 0 0 45%; /* Adjust to your liking */
      max-width: 45%; /* Adjust to your liking */
  }
  
  .about-image-section {
      margin-top: 0; /* Reset the margin-top when not stacked */
  }
}

.education-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  min-height: 100vh;
}

.education-text {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-align: center;
  padding: 50px;
  display: flex;
  align-items: center;
}

.certificate-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 90px;
}

.certificate-list .certificate-card {
  width: 80%;
  margin: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.thumbnail {
  width: 60px;
  height: 85px;
  padding-bottom: 3px;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.projects-button, .contact-button {
  width: 30%; 
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .certificate-list {
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .navigation-section {
    flex-direction: column;
  }

  .projects-button, .contact-button {
    width: 100%; /* Make the buttons full-width on smaller screens */
    margin: 5px 0; /* Add some margin to separate the buttons */
  }
}


/* Projects */

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  height: 100vh;
}


.projects-text {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-align: center;
  padding: 25px;
  align-items: center;
  width: 70%; /* adjust to your preference */
  margin: 0 auto; /* centers the text block horizontally */
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* At least 2 columns on small screens */
  gap: 1rem;
  align-self: center;
  padding-top: 0px;
  padding-bottom: 30vh;
}

@media screen and (min-width: 800px) {
  .projects-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, calc(25% - 1rem))); /* At most 4 columns on larger screens */
  }
}

.project-card {
  max-width: 25vw; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: transparent;
  border: none;
}

.project-title {
  text-align: center;
  color: white;
}

.proj-img {
  object-fit: cover;
  max-height: auto;
  max-width: 100%;
  margin: auto; 
  padding: 20px;
  display: block;
}


/* Contact */
.contact-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
  height: 100vh;
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-text {
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 5px;
}

.contact-form {
  max-width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  margin-bottom: 20px;
  max-width: 100%;
  min-width: 50vw;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.status-alert {
  margin-top: 20px;
}

.status-success {
  background-color: #28a745; /* Green for success */
}

.status-danger {
  background-color: #dc3545; /* Red for danger */
}

/* Header */



/* Footer */

/* Certificate */

.certificate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 1rem;
  color: white; /* change color to white */
  text-decoration: none; /* remove underline */
  padding: 10px;
}


.certificate-modal .modal-content {
  background-color: #383f45; /* Light gray color for the modal background */
  color: white;
}

.certificate-modal .modal-header, 
.certificate-modal .modal-body {
  padding: 2rem;
}

.certificate-modal .modal-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.certificate-modal img {
  width: 100%;
  height: auto;
}
